/** @license MIT License (c) copyright 2016 */
/** @author Fejes Bence */

body {
    background: white;
    margin: 0;
    /*overflow: hidden;*/
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 50px;
    background: #2074ae;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
}

.source a {
    color: #ffffff;
    font-weight: 700;
    padding-left: 10px;
}

.source {
    float: right;
    color: #ffffff;
    margin-left: 30px;
}

.brand {
    font-weight: 700;
}




@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

.normal {
    stroke: #29affa;
    fill: #12435f;
}

.virtual {
    stroke: #a326f0;
    fill: #500d6b;
}

@keyframes example2 {
    0% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

.node {
    transition: all 1.5s;
    stroke-width: 3px;
    animation-name: example;
    animation-duration: 1s;
}

.node:hover {
    /*transform: scale(1.1, 1.1);*/
}

svg {
    display: block;
    background: #303030;
}

/*line, path {*/
.connection, .invisible{
    fill: none;
    stroke: #eee;
    stroke-width: 2px;
    animation-name: example2;
    animation-duration: 2s;
}

path.invisible, line.invisible {
    stroke: rgba(0,0,0,0);
    stroke-width: 60px;
}

g:hover .connection {
    stroke-width: 10px;
} 

g {
    transition: transform 1.5s;
}

text {
    font-family: 'Roboto', sans-serif;
    stroke: #587dcc;
    font-size: 20px;
    text-anchor: middle;
    font-weight: 700;
    fill: #eee;
	stroke-width: 0;
    animation-name: example;
    animation-duration: 1s;
}

.zsolti1 {
    fill:none;
    stroke:black;
    stroke-width:1;
}

.zsoltifel {
    fill:none;stroke:black;stroke-width:0.5;
}

.zsoltifontos {
    font-size:9px !important; 
    font-family:Verdana;
}